#container {
  display: flex;
  flex-wrap: wrap; /*flex item 줄바꿈함*/
  max-width: 1000px;
  margin: 0 auto;
}
.square {
  width: 16px;
  height: 16px;
  background-color: white;
  margin: 2px;
  box-shadow: 0 0 2px white;
  transition: 2s ease; /*천천히 효과 일어나기*/
}
.square:hover {
  transition-duration: 0s;
  /*트랜지션이 일어나는 지속 시간, 작을수록 빨리 일어남*/
}
