body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s;
  background-color: #141414;
  font-family: 'Open Sans', sans-serif;
}

.container {
  padding: 20px;
  height: auto;
  margin: 15px auto;
}

.site-title {
  text-align: center;
  font-size: 38px;
  color: #e50914;
  font-weight: 400;
}

.movie-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.series-row {
  display: flex;
  justify-content: space-between;
}

.item {
  flex-basis: 17%;
  cursor: pointer;
}

.poster {
  width: 100px;
  height: auto;
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 22px;
  color: #fff;
}

.year {
  text-align: center;
  font-size: 18px;
  color: #fff;
}
